{% extends 'base.html' %}

{% block content %}

<style>
    #papyri-game {
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
    }

    #this-player-div {
        float: left;
        min-height: 200px;
    }

    #partner-player-div {
        display: inline-block;
        min-height: 250px;
    }

    #this-player-div, #partner-player-div {
        width: 46%;
        margin: 16px 16px 16px 16px;
        padding: 15px 15px 15px 15px;
        border: solid 1px gray;
        border-radius: 25px;
    }

    .label-container {
        width: 100%;
        border: solid 1px gray;
        height:100px;
    }

    .partner-label-container {
        width: 100%;
        border: solid 1px gray;
        height:150px;
    }

    .label-input {
        margin-top: 15px;
        width: 100%;
    }

    .user-label {
        padding: 4px 4px 4px 4px;
        float: left;
        border: 1px solid #428BCA;
        background-color: #D9EDF7;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .user-label-span {
        margin-left: 0;
    }


    #audio-controls {
        margin-top: 20px;
    }
</style>

<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog"
   aria-labelledby = "myModalLabel" aria-hidden = "true">

   <div class = "modal-dialog">
      <div class = "modal-content">

         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               TagATune: Tutorial
            </h4>
         </div>

         <div class = "modal-body" style="text-align: justify;">
            Welcome to <strong>TagATune</strong>! The goal of the game is to determine whether or not you and your game partner are
             listening to the same audio clip. If you and your partner both guess correctly, you both get 10 points! However, if you guess incorrectly, you and your partner get no points.<br/>

             You can communicate with your partner by supplying labels for the audio clip you're listening to. These
             labels are shared with your partner.<br/>

             <img src="/static/assets/img/label-example.png" style="width: 550px; margin-top: 20px; margin-bottom: 20px;"> <br/>

             One both of you have given 5 labels for the audio clip, you will each be able to vote if you're listening
             to the same audio clip. (Don't let this prevent you from supplying more than 5 labels!)
             <br />

             Good luck! <br />

             <p style="float: right;">- The TagATune Team</p>

         </div>

         <div class = "modal-footer">
            <button id="tutorial-close" type = "button" class = "btn btn-default" data-dismiss = "modal">
               Close
            </button>
         </div>

      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->

</div><!-- /.modal -->


<div class = "modal fade" id = "summary-modal" tabindex = "-1" role = "dialog"
   aria-labelledby = "myModalLabel" aria-hidden = "true">

   <div class = "modal-dialog">
      <div class = "modal-content">

         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Round Summary
            </h4>
         </div>

         <div id="round-summary-body" class = "modal-body" style="text-align: justify;">
         </div>

         <div class = "modal-footer">
             {% if final_round == 0 %}
            <a href="/{{ game_type.id }}/"><button type = "button" class = "btn btn-default">
               Next Round
            </button>
              {% elif final_round == 1 %}
                <a href="/summary/{{ game.id }}/"><button type = "button" class = "btn btn-default">
               Game Summary
            </button>
              {% endif %}
                </a>
         </div>

      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->

</div><!-- /.modal -->


<input id="my-id" value="togather{{ user.id }}" style="display: none;">
<input id="peer-id" value="{{ peer_id }}" style="display: none;">
<input id="game_id" value="{{ game.id }}" style="display: none;">
<input id="user_id" value="{{ user.id }}" style="display: none;">
<input id="subject_id" value="{{ subject_id }}" style="display: none;">
<input id="round" value="{{ game.round_index }}" style="display: none;">


<div id="papyri-game">
    <div style="float: left;width: 80%;"><h3>Round {{ game.round_index }} of 10</h3></div>
    <div style="display: inline-block;"><h3>Score: {{ game.score }}</h3></div>
    <hr/>
    <div id="wave"></div>
    <center>
    <div id="audio-controls" class="btn-group" role="group">
        <button id="play-button" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>

        <button id="pause-button" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
    </div>
    </center>
    <hr/>

    <center>
    <div id="voting-controls" class="btn-group" role="group" style="display: none;">
        <button id="same-button" type="button" class="btn btn-default btn-success vote-buttons">
          Same Audio Clip
        </button>

        <button id="diff-button" type="button" class="btn btn-default btn-danger vote-buttons">
          Different Audio Clip
        </button>
    </div>
    </center>

    <hr />

    <div id="this-player-div">
        <h4>Your Labels:</h4>
        <hr/>
        <div class="label-container">
            {% for label in my_labels %}
                {% if label != ''%}
            <div class="user-label">{{ label }}</div>
                {% endif %}
            {% endfor %}
        </div>
        <input id="label-supplier" class="label-input" type="text" placeholder="Suggestion: Genre, Instrument, Volume, etc.">
    </div>
    <div id="partner-player-div">
        <h4>Your Partner's Labels:</h4>
        <hr/>
        <div class="partner-label-container">
            {% for label in peer_labels %}
                {% if label != ''%}
                <div class="user-label">{{ label }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    /*  create the wavesurfer */
    var wavesurfer = Object.create(WaveSurfer);

    /* force the waiting dialog to appear */
    waitingDialog.show();

    /*  once the document is ready, initialize the audio clip visualizer */
    $(document).ready(function() {
        wavesurfer.init({
            container: '#wave',
            waveColor: 'violet',
            progressColor: 'purple'
        });

        $("#play-button").on('click', function () {
            wavesurfer.play();
        });

        $("#pause-button").on('click', function () {
            wavesurfer.pause();
        });

        $('#tutorial-close').on('click', function(){
           /* set the local storage value */
            localStorage.setItem("Togather.tutorial", '1');
        });

        wavesurfer.load('/static/{{ subject.url }}');
    });
</script>

{% endblock %}