body {
    font-family: "PT Sans", sans-serif;
    font-size: 1.4em;
    margin: 0;
    /*background: #f6f6f6;*/
}

tab{
    padding-left:1em
}

#rv_articulated, #rv_apparatus, #rv_diplomatic, #rv_paleo_apparatus, #rv_testimonia, #rv_marginalia {
    width: 550px;
    overflow: scroll;
}

.code2000Font{
    font-family: "code2000";
}

.evermonoFont{
    font-family: "EversonMono";
}

.greek_text {
    font-family: "Cardo", serif;
    /*font-family: "IFAOGrec";*/
}

.greek_bold {
    font-family: "cardo-bold";
    font-weight: bold;
}

#alert_response{
    width: 300px;
    margin-left: 355px;
    margin-bottom: -2px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

br {
    line-height: 200%;
}

/* Sticky footer styles
      -------------------------------------------------- */

      /*html,*/
      /*body {*/
        /*height: 100%;*/
        /* The html and body elements cannot have any padding or margin. */
      /*}*/

      /* Wrapper for page content to push down footer */
      /*#wrap {*/
        /*min-height: 100%;*/
        /*height: auto !important;*/
        /*height: 100%;*/
        /* Negative indent footer by it's height */
        /*margin: 0 auto -60px;*/
      /*}*/

      /* Set the fixed height of the footer here */
      /*#push,*/
      /*#footer {*/
        /*height: 60px;*/
        /*background-color: #383E48;*/
        /*color: #ffffff;*/
      /*}*/


      /* Lastly, apply responsive CSS fixes as necessary */
      /*@media (max-width: 767px) {*/
        /*#footer {*/
          /*margin-left: -20px;*/
          /*margin-right: -20px;*/
          /*padding-left: 20px;*/
          /*padding-right: 20px;*/
        /*}*/
      /*}*/

.footer_home{
    background-color: #ffffff !important;
    color: #383E48 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #383E48;
    color: #EA9E22;
}



/* Not required for template or sticky footer method. */

body > .container {
  /*padding: 60px 15px 0;*/
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



.proteus_footer {
    padding-bottom: 20px;
    text-align: center;
}

.index_header{
    text-align:center;
    padding-top: 100px;
}

.caret-reversed {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

.filters{
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #2C3E50 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#branding {
    position: relative;
    /*z-index: 9999;*/ /* Deleted to allow modal to have a bigger z-index; */
    width: 100%;
    margin: auto;
    padding: 16px;
    background-color: #2C3E50;
}

#branding hgroup {
    padding-top: 0px;
    margin: 0 auto;
    /*padding-top: 9px;*/
    /*padding-bottom: 13px;*/
    width: 90%;
}

#branding hgroup a {
    font-size: 2em;
    color: white;
    font-weight: lighter;
    text-decoration: none;

}

#branding .navbar-nav>li>a{
    color: #ffffff;
}

#branding .navbar-nav>li>a:hover{
    color: #EA9E22;
    background-color:transparent;

}

header .navbar-nav>li>a:hover{
    color: #EA9E22;
    background-color:transparent;

}

.white{
    color: #fff;
}

.italic{
    font-style:italic;
}

.search_sidebar{
    margin-left: 20px;
}

.records_number{
    margin-top: 15px;
}

.pagination > li > span {
  color: #2C3E50 !important;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2C3E50 !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #2C3E50 !important;
  border-color: #2C3E50 !important;
}

.facets{
    border:2px solid #f1f2f1;
    padding:10px 10px;
    border-radius: 3px;
}

.facets dd {
    display: block;
    -webkit-margin-start: 20px;
}

.facets dl dt {
    color: #2C3E50;
}

.highlight {
    background-color: #f1c40f;
    padding: 3px 4px;
}

.highlight-fuzzy {
    background-color: #f1c40f;
    opacity: .6;
    padding: 2px 3px;
}

h3,a {
    color: #2C3E50;
}

a {
    color: #2C3E50;
}

a:visited {
    color: #2C3E50;

}


.lineNumber {
    float: left;
    margin-left: -2em;
}


div.result_document_thumbnail img{
    width: 150px;
    height: auto;
    margin: 0 auto;

}

.disabled {
    opacity: .4;
}

.results{
   /* margin-top: 20px;*/
}

.result_title{
    text-transform: uppercase;
}

.thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

.search_result_grid {
    width: 160px;
    background-color: #fff;
    border-radius: 2px;
    border: 2px solid #f1f2f1;
    color: #888;
    margin: 3px;
    padding: 10px;
    float: none;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
}

.search_result h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
}

.search_result_grid h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
}

.result_document_thumbnail {
    float: none;
}

.thumbnail_img{
    background: #fff;
    border: 1px solid #e8e8e8;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    position: relative;
    -webkit-box-shadow: inset 1px 1px 30px 1px #f9f9f9;
    -moz-box-shadow: inset 1px 1px 30px 1px #f9f9f9;
}

.doc_author{
    text-transform: uppercase;
}


/* boxes */
.box {
  background: #fff;
  border: 1px solid #e8e8e8;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-shadow: inset 1px 1px 30px 1px #f9f9f9;
  -moz-box-shadow: inset 1px 1px 30px 1px #f9f9f9;
  /*box-shadow: inset 1px 1px 30px 1px #f9f9f9;*/
}
.inner {
  position: relative;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

#sidebar {
  margin-top: 0;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.greek_text {
    margin-left: 25px ;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 4.8em;
}

.showContent {
    line-height: 1em;
    height: auto;
}
.showContent{
    height: auto;
}

.show-more {
    padding: 10px 0;
    text-align: center;
}

.hidden {
    display: none;
}

.highlight-box {
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

.highlight-box pre {
padding: 0;
margin-top: 0;
margin-bottom: 0;
background-color: transparent;
border: 0;
white-space: nowrap;
}

.home-search{
    min-height: 120px;
    padding-top: 40px;
}

.bs-docs-header {
padding-top: 60px;
padding-bottom: 60px;
font-size: 24px;
text-align: left;
}
.bs-docs-header {
font-size: 20px;
}
.bs-docs-masthead, .bs-docs-header {
position: relative;
padding: 30px 15px;
/*color: #cdbfe3;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #f1f2f1;*/
}

.reset{
    background-color: #2C3E50;
    color: white;
}

.central {
margin-left: auto;
margin-right: auto;
width: 600px;
min-height: 200px;
}

/*login*/

.login_form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;

}

.login_form .formbody {

    padding: 2em;
    background-color: whiteSmoke;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 3px 3px;
}

.form-text {
    padding: 2px 5px 5px 5px;
    border: 1px solid #D8DEE2;
}

.login_form form input.text, .login_form form textarea, .login_form form input[type="checkbox"] {
    padding: 5px;
    border: 1px solid #D8DEE2;
}


.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 65px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #2C3E50;
}
.thumbnail{
    margin-bottom: 0px !important;
}

.profile-box-heading {
    font-size: 12px;
    font-weight: 700;
    color: #2C3E50 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.grid-container .container-manager{
    background-color: #EA9E22;
}

.grid-container{
    /*background-color: #6f8d98;*/
    background-color: #35495E;
    opacity: 80;
    margin-bottom: 20px;
}

#profile_list.nav-pills>li.active>a{
    color: #EA9E22;
}

#profile_list.nav-pills>li.active>a:hover, #profile_list.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #6f8d98;
}

/*.row {*/
    /*display: table;*/
/*}*/
/*.row .col-md-2 {*/
    /*border: 1px solid blue;*/
    /*display: table-cell;*/
    /*float: none;*/
/*}*/
/*.row .col-md-10 {*/
    /*min-height: 100%;*/
    /*border: 1px solid red;*/
    /*height: 100%;*/
    /*display: table-cell;*/
    /*float: none;*/
/*}*/

#editor_sidebar{
    display: block;
}

#articulated_editor, #apparatus_editor, #marginalia_editor,
#testimonia_editor, #diplomatic_editor, #translation_editor,
#paleo_apparatus_editor{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 1;
    float: right;
    width: 500px;
    height: 850px;
    border: 1px solid black;
}

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

.row_hide div {
    -webkit-transition: width 0.1s ease, margin 0.1s ease;
    -moz-transition: width 0.1s ease, margin 0.1s ease;
    -o-transition: width 0.1s ease, margin 0.1s ease;
    transition: width 0.1s ease, margin 0.1s ease;
}

.span0 {
    width: 0;
    margin-left: 0;
}

#colPush {
    /*background-color: #A6BFBA;*/
}

/*#colMain {*/
    /*background-color: #DE4124;*/
/*}*/

#trig {
    /*margin: 50px;*/
}

.row_hide div + div {
    margin-left: 0;
}

.col-xs-1 {
  width: 4.33333333%;
}

.hidden{
    visibility: hidden;
}




div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
fieldset{
    border: 0 none;
}
#LeftPanel
{
    width: 40%;
    float: left;
}
#RightPanel
{
    width:40%;
    float: right;
}
.handler_vertical {
    cursor: col-resize;
    width: 8px;
    float: left;
}
.handler_horizontal {
    cursor: row-resize;
    height: 8px;
    width: 100%;
    float: left;
}
.window {
    border: 1px solid #ADADAD;
    width: 100%;
    float: left;
}
.top_w {
    height: 25%;
}
.bottom_w {
    height: 75%;
}



#sidebar {
  width: 210px;
  position: fixed;
  padding: 15px;
}

 #main-content {
  margin-left: 210px;
  padding: 10px;
 }
.navbar_side{
    cursor:pointer;
}


#A, #B {
    position: absolute;
}
#A {
    top: 0px;
    width: 200px;
    bottom: 0px;
    background:orange;
}
#B {
    top: 0px;
    left: 200px;
    right: 0;
    bottom: 0px;
    background:green;
}

.long-press-popup {
    -moz-box-shadow: 0px 1px 3px 1px lightgray;
    -webkit-box-shadow: 0px 1px 3px 1px lightgray;
    box-shadow: 0px 2px 3px 0px lightgrey;
    font-family: Cambria Math,STIXGeneral,Latin Modern Math, Helvetica;
	position: relative;
	top:20px;
	left:-19px;
	padding: 2px;
	margin: 0px;
	background: #FEFFFF;
	font-size: 12pt;
	border: 1px #C1D7FD solid;
	list-style-type: none;
    display: inline-block;
    border-radius: 5px;
    line-height: 21px;
}
.long-press-popup li {
    position:relative;
    line-height: 21px;
    border: 1px white solid;
    border-radius: 4px;
	background: white;
	color: #0A7ED0;
	text-align: center;
    display: inline-block;
    min-width:24px;
}
.popup-preview {
    -moz-box-shadow: 0px 1px 3px 1px lightgray;
    -webkit-box-shadow: 0px 1px 3px 1px lightgray;
    box-shadow: 0px 2px 3px 0px lightgrey;
    font-family: Cambria Math,STIXGeneral,Latin Modern Math, Helvetica;
	position: relative;
	top:0px;
	left:0px;
	padding: 2px;
	margin: 0px;
	background: #FEFFFF;
	font-size: 12pt;
	border: 1px #C1D7FD solid;
	list-style-type: none;
    display: inline-block;
    border-radius: 5px;
    line-height: 21px;
}
.popup-preview li {
    position:relative;
    line-height: 21px;
    border: 1px white solid;
    border-radius: 4px;
	background: white;
	color: #0A7ED0;
	text-align: center;
    display: inline-block;
    min-width:24px;
}
.long-press-popup p{
    border: 1px #B9D6F0 solid;
	background: #E5F1FE;
	color: #0A7ED0;
}
.long-press-popup .selected {
    border: 1px #B9D6F0 solid;
	background: #E5F1FE;
	color: #0A7ED0;
}


.number {
    font-weight :lighter;
    font-family:Helvetica;
    text-align:center;
    font-size:9pt;
    padding: 0px;
    margin:0px;
    display: block;
    color: #CBCCCC;
}


.bs-docs-sidebar.affix {
position: fixed;
margin-top: 20px;
}

.bs-docs-sidebar.affix .bs-docs-sidenav, .bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
margin-top: 0;
margin-bottom: 0;
}

.nav>li {
position: relative;
display: block;
}

.bs-docs-sidebar .nav>li>a {
display: block;
padding: 4px 20px;
font-size: 13px;
font-weight: 500;
color: #767676;
}

.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
}
a {
color: #337ab7;
text-decoration: none;
}

.bs-docs-sidebar .nav .nav {
/*display: none;*/
padding-left: 10px;
padding-bottom: 10px;
}

.bs-docs-section {
    margin-bottom: 60px;
}

.bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bs-example {
    position: relative;
    padding: 20px 20px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.bs-example-title{
    padding: 4px 6px;
    position: relative;
    /*top: 15px;*/
    /*left: 15px;*/
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    min-width: 110px;
}

.bs-example>.bs-example-title{
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    border-radius: 2px;
}

.highlight>.bs-example-title{
    background-color: #EDEDF9;
    border-color: #EDEDF9;
    border-radius: 2px;
}

.highlight_markdown>.bs-example-title{
    background-color: #D9EEF1;
    border-color: #D9EEF1;
    border-radius: 2px;
}

/*.bs-example:after {*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*left: 15px;*/
    /*font-size: 12px;*/
    /*font-weight: 700;*/
    /*color: #959595;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 1px;*/
    /*content: "Example";*/
/*}*/
/*:after, :before {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

.bs-example+.highlight, .bs-example+.zero-clipboard+.highlight {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bs-example+.highlight, .bs-example+.zero-clipboard+.highlight {
    margin: -15px -15px 15px;
    border-width: 0 0 1px;
    border-radius: 0;
}

.highlight {
    padding: 9px 25px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    /*white-space: nowrap;*/
    background-color: transparent;
    border: 0;
}

.bs-example pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    /*white-space: nowrap;*/
    background-color: transparent;
    border: 0;
}

.highlight_markdown {
    margin: -15px -15px 30px;
    /*border-width: 0 0 1px;*/
    padding: 9px 25px;

    background-color: #ECF0F1;

}

.highlight_markdown pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    /*white-space: nowrap;*/
    background-color: transparent;
    border: 0;
}

.bs-docs-section p {
    margin: 0 0 10px;
}

.btn-on.active {
    background-color: #4FBA6F;
    border-color: #4FBA6F;
}

.btn-off.active {
    background-color: #767676;
    border-color: #767676;
}

.btn-proteus {
  color: #fff;
  background-color: #ECF0F1;
  border-color: #ECF0F1;
}
.btn-proteus a:hover,
.btn-proteus a:focus,
.btn-proteus a:active,
.btn-proteus.active,
.open .dropdown-toggle.btn-proteus {
  color: #fff;
  background-color: #383E48;
  border-color: #383E48;
}
.btn-proteus:active,
.btn-proteus.active,
.open .dropdown-toggle.btn-proteus {
  background-image: none;
}
.btn-proteus.disabled,
.btn-proteus[disabled],
fieldset[disabled] .btn-proteus,
.btn-proteus.disabled:hover,
.btn-proteus[disabled]:hover,
fieldset[disabled] .btn-proteus:hover,
.btn-proteus.disabled:focus,
.btn-proteus[disabled]:focus,
fieldset[disabled] .btn-proteus:focus,
.btn-proteus.disabled:active,
.btn-proteus[disabled]:active,
fieldset[disabled] .btn-proteus:active,
.btn-proteus.disabled.active,
.btn-proteus[disabled].active,
fieldset[disabled] .btn-proteus.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-proteus .badge {
  color: #fff;
  background-color: #333;
}

.permission_bar {
    /*margin: 0px !important;*/
    /*padding-top: 10px;*/
}

.permission_bar li:hover{
    background-color: #9AA1AF;
}

.permission_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.permission_menu li {
    float: left;
}

.permission_menu a:link, .permission_menu a:visited {
    font-weight: bold;
    color: #9AA1AF;
    background-color: #a9cbe4;
    text-align: center;
    /*padding: 4px;*/
    text-decoration: none;
    text-transform: uppercase;
}

.panel_2{
    border-bottom: 1px solid lightgray;
}

#home-info {

    width: 50%;
    margin: 0 auto;
    text-align: center;

}

#home-info div {
    padding-top: 50px;
    width: 50%;
    display: inline-block;
    float:left;
}

#home-info h4 {
    font-weight: bold;
    font-size: 1.6em;
}
#contribute {
    width: 50%;
}

#search {
    width: 50%;
}

.examples {
    color: #767676;
}

.examples a {
    color: #EA9E22;
    font-weight: bolder;
}

.search-form {
    background-color: #ECF0F1;
    border: none;
    color: #383E48;
    background: #ECF0F1 url("../img/search-icon.svg") no-repeat 5px;
    background-size: 25px;
    padding-left: 30px;
    width: 250px
}

.search-button {
    background-color: #EA9E22;
    color: #383E48;
    font-size: 1.2em;
    border: none;
    padding: 5px 10px;
}

.csyn_table{
    margin-bottom: 50px;
}

.back-to-top{
    margin-left: 20px;
}